<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experience</h2>
    {% for job_exp in site.experience %}
    
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">{{job_exp.job}}</h3>
        <div class="subheading mb-3">{{job_exp.company}}</div>
        <p>{{job_exp.description}}</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">{{job_exp.date}}</span></div>
    </div>
    
    {% endfor %} 
  </div>
</section>